* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, Helvetica, sans-serif;
  background-color: #282D35
}

.NavBar {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
} 

.navLogoText, .navTitle {
  margin: 0;
}

.navLogoText {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 23px;
}

.navTitle {
  color: #DEEBF8;
  font-weight: 600;
}

nav > img {
  height: 30px;
  margin-right: 7px;
}

h1 {
  color: white;
  margin-left: 25px;
}

ul {
  font-size: 17px;
  line-height: 40px;
  color: whitesmoke;
  margin-left: 28px;
}

main {
  padding: 57px 27px;
  color: white;
  background-image: url(../images/halfReactLogo.png);
  background-repeat: no-repeat;
  background-position: right 75%;
}

.mainTitle {
  margin: 0;
  font-size: 46px;
  letter-spacing: -0.03em;
}

.mainFacts > li::marker {
  color: #61DAFB;
  font-size: 1.4rem;
}