html {
  background-color: #23252C;
}

.Card {
  position: absolute;
  height: 795px;
  width: 317px;
  left: 530px;
  top: 70px;

  background: #1A1B21;
}

.Name {
  color: white;
  margin-left: 60px;
}

.h1About {
  font-size: x-large;
  color: white;
  top: 100px;
  margin-left: 15px;
}

.aboutParagraph {
  font-size: medium;
  color: white;
  margin-left: 15px;
}

.h1Interests {
  font-size: x-large;
  color: white;
  margin-left: 15px;
}

.interestsParagraph {
  font-size: medium;
  color: white;
  margin-left: 15px;
}

.footer {
  width: 317px;
  height: 64px;
  left: 116px;
  top: 760px;
  background: #161619;
  border-radius: 0px 0px 10px 10px;
}

.twitterLogo {
  position: absolute;
  margin-top: 19px;
  margin-left: 85px;
}

.facebookLogo {
  position: absolute;
  margin-top: 19px;
  margin-left: 135px;
}

.instagramLogo {
  position: absolute;
  margin-top: 19px;
  margin-left: 185px;
}

.linkedinLogo {
  position: absolute;
  margin-top: 19px;
  margin-left: 235px;
}

.githubLogo {
  position: absolute;
  margin-top: 19px;
  margin-left: 45px;
}

.classOfPerson {
  color: #F3BF99;
  margin-left: 75px;
}

.personWebsite {
  color: white;
  margin-left: 100px;
}

.emailThemButton {
  margin-left: 30px;
}